.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box-number
{
  position: relative;
  margin: 50px 410px 0px 410px;
  border: 0.5px solid;
  width: 500px;
  height: 350px;
  
}

label{
  margin-right: 120px
}
.time-box, .btn-start
{
  margin: 0px 280px 5px 0px ;
}
.btn-number
{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  
}
.btn-number:hover
{
  background-color: red;
  color: white;
} 
